@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    overflow: hidden;
}

nav {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 12px 14px;
}

nav ul li a {
    color: #242942;
    text-decoration: none;
    font-weight: bold;
}

.menu-icon {
    width: 35px;
    cursor: pointer;
    display: none;
}

.login {
    color: #5b5f71;
}


/*Contwnt*/

.content {
    display: flex;
    margin: 80px 0;
}

.text-box {
    position: relative;
    flex-basis: 50%;
    margin-left: 50px;
    margin-top: 50px;
}

.text-box h5 {
    color: #a0a1ac;
    font-size: 15px;
    font-weight: 500;
}

.text-box span {
    color: whitesmoke;
    border-radius: 12px;
    background: #242942;
    padding: 3px 6px;
}

.text-box h1 {
    font-family: 'Barlow Condensed', sans-serif;
    color: #242942;
    font-size: 64px;
    max-width: 18ch;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0.9;
    margin-top: 15px;
}

.text-box p {
    color: #a0a1ac;
    margin-top: 25px;
    max-width: 28ch;
    letter-spacing: 2pt;
}

.text-box h4 {
    color: #a0a1ac;
    font-weight: 200;
    margin-top: 20px;
}

button {
    border: none;
    border-radius: 2px;
    padding: 10px 12px;
    background: #ff5c5c;
    color: whitesmoke;
    cursor: pointer;
}

.image-box {
    flex-basis: 50%;
    margin-right: 100px;
}

.image-box img {
    width: 140%;
}

@media only screen and (max-width:700px) {
    nav ul {
        width: 100%;
        background: #242942;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: whitesmoke;
    }
    .menu-icon {
        display: block;
    }
    #menulist {
        overflow: hidden;
        transition: 0.5s;
    }
    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .text-box {
        flex-basis: 100%;
    }
    .text-box h1 {
        font-size: 35px;
    }
    .image-box {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
}